<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li {
            list-style-type: none;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Article List</h1>
        {% for article in articles %}
        <ul class="article-list"></ul>
            <li>
                <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                <p>{{ article.body }}</p>
                <p>{{ article.date }}</p>
            </li>
        </ul>
        {% endfor %}
</body>
</html>