{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
   <div class="wrapper">
       <header>
        <h2><a href="{% url 'articles:article_list' %}"><img src="{% static 'logo.png' %}" alt=""></a></h2>
        <nav>
            <ul>
                <li><a href="{% url 'articles:article_list' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li>
                <!-- <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                  {% csrf_token %}
                    <button type="submit" value="Logout">Logout</button>
                </form> -->
                <form class="logout-link" method="post" action="{% url 'accounts:logout' %}">
                    {% csrf_token %}
                    <button type="submit">Log Out</button>
                </form>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <!-- <img src="{% static 'nicecoffe.jpg' %} " alt="">  -->
   </div>
</body>
</html>